* {
  padding: 0;
  margin: 0;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 840px;
  padding: 50px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 1px 0px rgba(140, 140, 140, 0.5);
}
ul,
ol {
  list-style: none;
}
body {
  background-color: #efefef;
  color: #3d4451;
}
.header {
  /* margin: 30px 16px; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header .logo {
  color: #07aaf5;
  font-size: 30px;
  font-weight: bold;
  margin-top: -13px;
}
.header .logo .card {
  color: #9a9da2;
}
.header .top-nav {
  color: #bfc0c5;
  font-size: 13px;
  font-weight: bold;
  transition: all 1s;
  padding: 30px 16px;
}

.top-nav nav > ul > li {
  float: left;
  margin-right: 35px;
  position: relative;
}
.top-nav.sticky {
  padding-top: 16px;
  z-index: 1;
  background-color: #e1e1e1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  color: #3d4451;
}
.top-nav nav > ul > li > a {
  cursor: pointer;
  display: block;
  border-bottom: 3px solid transparent;
  position: relative;
  /*  */
}
/* .top-nav ul li a:hover {
    border-bottom: 3px solid #07aaf5;
} */

.top-nav nav > ul > li > a:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #07aaf5;
  height: 3px;
  margin-top: 5px;
  animation: menuSlide 0.4s;
}
@keyframes menuSlide {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.top-nav .submenu {
  cursor: pointer;
  display: none;
  padding-top: 10px;
  animation: submenuSlide 0.5s;
  /* background-color: #e1e1e1;
    columns: #334d51; */
}
.top-nav .submenu li{
    margin-bottom: 5px;
}
@keyframes submenuSlide {
  0% {
    margin-right:100%;
  }
  100% {
    margin-right:0;
  }
}
.top-nav .submenu.active {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
}
.banner {
  background: url(../images/resume-bgi.jpg) center center no-repeat;
  height: 515px;
  background-size: cover;
}
.banner .mask {
  height: 515px;
  background-color: rgba(30, 40, 60, 0.7);
}
.main {
  height: 432px;
  margin-top: -345px;
}
.about {
  /* padding-top: 60px; */
  padding-bottom: 46px;
}
.about-me {
  width: 472px;
  margin-left: 62px;
}
.about-me .say {
  color: #fff;
  background-color: #07aaf5;
  display: inline-block;
  padding: 4px 13px;
  position: relative;
}
.say .triangle {
  position: absolute;
  left: 5px;
  top: 100%;
  border: 8px solid transparent;
  width: 0;
  border-left-color: #07aaf5;
  border-top-width: 0;
}
.about-me h1 {
  font-size: 36px;
  margin-top: 24px;
  margin-bottom: 6px;
  color: #3d4451;
}
.about-me p {
  font-size: 18px;
  color: #3d4451;
}
.about-me hr {
  margin: 25px 0;
}
.about-me dl {
  line-height: 34px;
  font-size: 14px;
}
.about-me dl dt {
  float: left;
  width: 27%;
  font-weight: bold;
  color: #666;
}
.about-me dl dd {
  float: left;
  width: 73%;
  color: #9da0a7;
}
.main .contact {
  background-color: #07aaf5;
  text-align: center;
  color: #fff;
}
.contact i {
  font-size: 20px;
  line-height: 40px;
}
.contact a {
  display: inline-block;
  width: 40px;
  margin: 22px 60px;
  border-radius: 50%;
}
.contact a:hover {
  background-color: #0699dc;
}
.dld-wrapper {
  text-align: center;
}
.dld {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 18px 55px;
  background-color: #e1e1e1;
  border-radius: 2px;
  color: #464d59;
  margin: 32px 0;
  transition: box-shadow 0.4s;
}
.dld:hover {
  box-shadow: 0px 3px 10px 0px rgba(140, 140, 140, 1);
}
.introduction {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  line-height: 38px;
}

section h2 {
  text-align: center;
  padding-top: 40px;
  font-size: 32px;
  line-height: 90px;
}
.skill .container {
  padding-top: 0;
}
.skill h3 {
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 8px;
  font-weight: 500;
}
.skill div {
  height: 5px;
  border-radius: 1px;
}
.skill .progress-bar {
  height: 5px;
  background-color: #c0e1f0;
}
.skill .progress {
  background-color: #07aaf5;
  width: 60%;
}
.skill ol li {
  float: left;
  width: 48.5%;
}
.skill ol li:nth-child(even) {
  margin-left: 3%;
}
.portfolio {
  text-align: center;
}
.portfolio ol li {
  float: left;
  margin-left: 45px;
  cursor: pointer;
}
.portfolio ol li:first-child {
  margin-left: 0;
}
.portfolio nav {
  display: inline-block;
  vertical-align: top;
}
.portfolio nav div {
  height: 5px;
  border-radius: 2px;
}
.portfolio .slider {
  background-color: #fff;
  margin-top: 15px;
}
.portfolio .slider .slider-bar {
  background-color: #07aaf5;
  width: 15%;
  transition: all 0.2s;
}
.portfolio .slider.state-1 .slider-bar {
  margin-left: 0;
  width: 15%;
}
.portfolio .slider.state-2 .slider-bar {
  margin-left: 30%;
  width: 15%;
}
.portfolio .slider.state-3 .slider-bar {
  margin-left: 60%;
  width: 40%;
}
.por-all {
  max-width: 910px;
  margin: 0 auto;
  margin-top: 30px;
  height: 572px;
  position: relative;
}
.por-all .por-1 {
  position: absolute;
  width: 600px;
  height: 572px;
  left: 0;
  top: 0;
}
.por-all .por-2,
.por-all .por-3 {
  position: absolute;
  width: 290px;
  height: 276px;
}
.por-all .por-2 {
  left: 620px;
  top: 0;
}
.por-all .por-3 {
  left: 620px;
  top: 296px;
}
